
:root{
  /* Fuentes */
--monserrat: 'Montserrat', sans-serif;
--open-sans: 'Open Sans', sans-serif;  
}

* {
  box-sizing: border-box;

}

html,
body {
  width: 940px;
  margin: 1px auto;
}

body {
  background: #F5F5F5;
}

//*********************************************************
//*********************************************************

/* 
//Pantallas muy pequeñas  (móviles en portrait de menos de 576px)
//No hace falta media-query porque será nuestro diseño por defecto

//Pantallas pequeñas (móviles en landscape de más de 576px)
@media (min-width: 576px) { ... }

//Pantallas medianas (tablets de más de 768px)
@media (min-width: 768px) { ... }

//Pantallas grandes (desktops de más de 992px)
@media (min-width: 992px) { ... }

//Pantallas muy grandes (desktops de más de 1200px)
@media (min-width: 1200px) { ... } */

//*********************************************************
//*********************************************************

/* //Pantallas muy grandes  (desktops de más de 1200px de ancho)
//No hace falta media-query porque será nuestro diseño por defecto

//Pantallas grandes (desktops de menos de 1200px)
@media (max-width: 1199.98px) { ... }

//Pantallas medianas (tablets de menos de 992px)
@media (max-width: 991.98px) { ... }

//Pantallas pequeñas (móviles en landscape de menos de 768px)
@media (max-width: 767.98px) { ... }

//Pantallas muy pequeñas (móviles en portrait de menos de 576px)
@media (max-width: 575.98px) { ... } */